.App {
  height: 44px;
  width: 100vw;
  /* display: flex;
    justify-content: end; */
  background-color: #FFF;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.LoginSignupContainer {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 2px;
  width: 12vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.Btn {
  cursor: pointer;
  padding: 10px;
  background-color: blue;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  font-size: large;
}

.home {
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}